In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
from sqlalchemy import create_engine

In [3]:
host = r'127.0.0.1' # denotes that the db in a local installation
db = r'MSDS610' # db we just created
user = r'postgres' # using the postgres user for this demo
pw = r'postgres' # this is the password established during installation
port = r'5432' # default port estabalished during install

In [4]:
db_conn = create_engine("postgresql://{}:{}@{}:{}/{}".format(user, pw, host, port, db))

In [5]:
table_name = r'cars'
schema = r'raw' # schema were the data was loaded last week.

df = pd.read_sql_table(table_name, db_conn, schema)

In [6]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,None,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,None,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,None,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [8]:
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,None,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,None,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,None,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,None,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,None,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,None,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,None

We need to clean None from the data

In [9]:
df.replace([None], np.nan, inplace=True)

In [10]:
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

We can also see that the data frame contains columns that have string value but are supposed to be numeric so, we need to find them

In [12]:
autodata = df

In [13]:
# List of columns that are supposed to contain numeric data
cols2numeric = ['symboling','normalized-losses','wheel-base','length', 'width','height','curb-weight','engine-size','bore','stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price']

print("***** Count of Non Numeric Elements - Columnwise ******")
for col in cols2numeric:
    if(pd.to_numeric(autodata[col],errors='coerce').isnull().sum() > 0):
        print(col + ": " + str(pd.to_numeric(autodata[col],errors='coerce').isnull().sum()))

***** Count of Non Numeric Elements - Columnwise ******
normalized-losses: 41
bore: 4
stroke: 4
horsepower: 2
peak-rpm: 2
price: 4

In [19]:
autodata.fillna("?", inplace=True)

In [21]:
#List of columns that contain a "?" for missing data
colslist = list(autodata.columns)
for col in colslist:
    if('?' in autodata[col].value_counts()):
        print(col + " - " + str(autodata[col].value_counts()['?']))

normalized-losses - 41
num-of-doors - 2
bore - 4
stroke - 4
horsepower - 2
peak-rpm - 2
price - 4

**Following columns will need to be cleaned, before they can be used for analysis.**

* 1. normalized-losses
* 2. price
* 3. horsepower 
* 4. bore
* 5. stroke
* 6. peak-rpm
* 7. num-of-doors

**1. normalized-losses** 

* a. Convert "normalized-losses" column to numeric. In the process, insert NaNs where values cannot be converted to a number
* b. Under each make, if there are enough number of records with valid loss values (>=50%), find their mean value and replace NaNs.  
* c. If more than 50% records under a make have NaNs for loss value, those records have to be discarded for analysis.

In [37]:
# Dataframe for Normalised-Losses related analysis
carsnl=autodata
#Replace non-numeric characters in normalized-losses column with NaN.
carsnl['normalized-losses'] = pd.to_numeric(carsnl['normalized-losses'],errors='coerce')

#Find makes having normalized-losses as NaNs and their number of occurrances 
carsnan=carsnl[carsnl['normalized-losses'].isnull()].groupby(by='make', as_index=False).size().reset_index()
carsnan.columns=['index','make','nanscount']

#Find makes with count of all records under each make
carsgp = carsnl.groupby(by='make',as_index=False).size().reset_index()
carsgp.columns=['index','make','makecount']
carsgpnan=carsgp.merge(carsnan,on="make", how="left", suffixes=['', '_right'])

#Find makes having more than 50% records with valid normalized-losses values
mean_nan_makes = carsgpnan[carsgpnan['nanscount']*100/carsgpnan['makecount'] <= 50].reset_index()
mean_nan_makes['nlimpute']=mean_nan_makes['make']

#Find mean loss figures for those makes
nlcars=carsnl.merge(mean_nan_makes, on="make", how="left", suffixes=['','_right'])
nlmean_by_make = nlcars.groupby(by='nlimpute')['normalized-losses'].mean().reset_index()

#Replace NaN values with the calculated mean 

carsr=carsnl.merge(nlmean_by_make, how="left", left_on="make", right_on="nlimpute", suffixes=['', '_right'])
carsr['normalized-losses'] = np.where(carsr['normalized-losses'].isnull(), carsr['normalized-losses_right'], carsr['normalized-losses'])

cars = carsr.loc[carsr['normalized-losses'].isnull()==False].copy()

print("Column normalized-losses has " + str(cars['normalized-losses'].count()) + " values after sanitizing")

Column normalized-losses has 189 values after sanitizing

**2. price**

Calculate the average price per make and impute the missing price values with the respective make's average price.

In [38]:
cars

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,nlimpute,normalized-losses_right
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102,5500,24,30,13950,audi,161.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115,5500,18,22,17450,audi,161.0
5,2,161.0,audi,gas,std,two,sedan,fwd,front,99.8,...,3.19,3.40,8.5,110,5500,19,25,15250,audi,161.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,3.19,3.40,8.5,110,5500,19,25,17710,audi,161.0
7,1,161.0,audi,gas,std,four,wagon,fwd,front,105.8,...,3.19,3.40,8.5,110,5500,19,25,18920,audi,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,3.78,3.15,9.5,114,5400,23,28,16845,NaN,NaN
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,3.78,3.15,8.7,160,5300,19,25,19045,NaN,NaN
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,3.58,2.87,8.8,134,5500,18,23,21485,NaN,NaN
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,3.01,3.40,23.0,106,4800,26,27,22470,NaN,NaN
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,3.78,3.15,9.5,114,5400,19,25,22625,NaN,NaN

In [39]:
cars['price'] = pd.to_numeric(cars['price'],errors='coerce')
mean_price_by_make = cars.groupby(by=['make'])['price'].mean()
mean_price_by_make = mean_price_by_make.reset_index()
 
# Merge mean_price_by_make (Rigt) with cars dataframe (Left)

cars = cars.merge(mean_price_by_make,on='make', suffixes=['', '_right'])
cars['price'] = np.where(cars['price'].isnull(), cars['price_right'], cars['price'])

**3. horsepower**
* Convert to numeric

In [40]:
cars['horsepower'] = pd.to_numeric(cars['horsepower'], errors="coerce")

Drop all temporary columns that were added/merged in the process of data cleansing

In [42]:
del cars['normalized-losses_right']
del cars['price_right']

Remove records having number of doors as "?"

In [43]:
cars = cars[cars['num-of-doors'] != '?']

## Integer encode Text Columns - Convert to ordinal values
Following columns are converted to numeric, by interpreting the string values:
* num-of-doors
* num-of-cylinders

In [45]:
def calc_num_doors (doorstr):
    if(doorstr == 'two'):
       return 2 
    if (doorstr =='four'):
       return 4
    return 0
       
cars['num_doors'] = cars['num-of-doors'].apply(lambda x: calc_num_doors (x))

def calc_num_cylinders(cylstr):
    cyls = {'two':2,'three':3,'four':4,'five':5,'six':6,'eight':8,'twelve':12}
    if(cylstr in cyls.keys()):
        return cyls[cylstr]
    return 0

cars['num_cylinders'] = cars['num-of-cylinders'].apply(lambda x: calc_num_cylinders(x))

C:\Users\chandan\AppData\Local\Temp\ipykernel_19252\2459925897.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars['num_doors'] = cars['num-of-doors'].apply(lambda x: calc_num_doors (x))
C:\Users\chandan\AppData\Local\Temp\ipykernel_19252\2459925897.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars['num_cylinders'] = cars['num-of-cylinders'].apply(lambda x: calc_num_cylinders(x))

## Derive columns 
* 1. Convert the Engine size from cubic inches to cubic centimeters (cc) for easier understanding. To convert cubic inch to cubic centimeter, divide cubic inch value by 0.061024
* 2. Calculate power to weight ratio of vehicles. Power to weight ratio shows the performance of a car

In [46]:
cars['engine_size_cc'] = cars['engine-size'].apply(lambda x: int(x/0.061024))
cars['power2weight_ratio'] = pd.to_numeric(cars['horsepower'], errors="coerce")/cars['curb-weight']

C:\Users\chandan\AppData\Local\Temp\ipykernel_19252\2318599430.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars['engine_size_cc'] = cars['engine-size'].apply(lambda x: int(x/0.061024))
C:\Users\chandan\AppData\Local\Temp\ipykernel_19252\2318599430.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars['power2weight_ratio'] = pd.to_numeric(cars['horsepower'], errors="coerce")/cars['curb-weight']

In [47]:
cars = cars[cars['bore'] != '?']
cars = cars[cars['stroke'] != '?']

In [48]:
# List of columns that are supposed to contain numeric data
cols2numeric = ['symboling','normalized-losses','wheel-base','length', 'width','height','curb-weight','engine-size','bore','stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price']

print("***** Count of Non Numeric Elements - Columnwise ******")
for col in cols2numeric:
    if(pd.to_numeric(cars[col],errors='coerce').isnull().sum() > 0):
        print(col + ": " + str(pd.to_numeric(cars[col],errors='coerce').isnull().sum()))

***** Count of Non Numeric Elements - Columnwise ******

No columns remaining to convert into numeric that are supposed to be numeric

In [50]:
#List of columns that contain a "?" for missing data
colslist = list(cars.columns)
for col in colslist:
    if('?' in cars[col].value_counts()):
        print(col + " - " + str(cars[col].value_counts()['?']))

**No more missing values**

## Replace Drive-wheels with descriptive values

In [55]:
cars.loc[cars['drive-wheels']=='4wd', 'drive-wheels']='Four Wheel Drive'
cars.loc[cars['drive-wheels']=='fwd', 'drive-wheels']='Front Wheel Drive'
cars.loc[cars['drive-wheels']=='rwd', 'drive-wheels']='Rear Wheel Drive'
cars.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,horsepower,peak-rpm,city-mpg,highway-mpg,price,nlimpute,num_doors,num_cylinders,engine_size_cc,power2weight_ratio
0,2,164.0,audi,gas,std,four,sedan,Front Wheel Drive,front,99.8,...,102,5500,24,30,13950.000000,audi,4,4,1786,0.043646
1,2,164.0,audi,gas,std,four,sedan,Four Wheel Drive,front,99.4,...,115,5500,18,22,17450.000000,audi,4,5,2228,0.040722
2,2,161.0,audi,gas,std,two,sedan,Front Wheel Drive,front,99.8,...,110,5500,19,25,15250.000000,audi,2,5,2228,0.043877
3,1,158.0,audi,gas,std,four,sedan,Front Wheel Drive,front,105.8,...,110,5500,19,25,17710.000000,audi,4,5,2228,0.038678
4,1,161.0,audi,gas,std,four,wagon,Front Wheel Drive,front,105.8,...,110,5500,19,25,18920.000000,audi,4,5,2228,0.037238
5,1,158.0,audi,gas,turbo,four,sedan,Front Wheel Drive,front,105.8,...,140,5500,17,20,23875.000000,audi,4,5,2146,0.045366
6,0,161.0,audi,gas,turbo,two,hatchback,Four Wheel Drive,front,99.5,...,160,5500,16,22,17859.166667,audi,2,5,2146,0.052407
7,2,192.0,bmw,gas,std,two,sedan,Rear Wheel Drive,front,101.2,...,101,5800,23,29,16430.000000,bmw,2,4,1769,0.042171
8,0,192.0,bmw,gas,std,four,sedan,Rear Wheel Drive,front,101.2,...,101,5800,23,29,16925.000000,bmw,4,4,1769,0.042171
9,0,188.0,bmw,gas,std,two,sedan,Rear Wheel Drive,front,101.2,...,121,4250,21,28,20970.000000,bmw,2,6,2687,0.044649

## Store Cleaned data to CSV file

In [56]:
cars.to_csv('./cardata_cleaned.csv')

In [57]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 183 entries, 0 to 188
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           183 non-null    int64
 1   normalized-losses   183 non-null    float64
 2   make                183 non-null    object
 3   fuel-type           183 non-null    object
 4   aspiration          183 non-null    object
 5   num-of-doors        183 non-null    object
 6   body-style          183 non-null    object
 7   drive-wheels        183 non-null    object
 8   engine-location     183 non-null    object
 9   wheel-base          183 non-null    float64
 10  length              183 non-null    float64
 11  width               183 non-null    float64
 12  height              183 non-null    float64
 13  curb-weight         183 non-null    int64
 14  engine-type         183 non-null    object
 15  num-of-cylinders    183 non-null    object
 16  engine-size         183 non-null    int64
 17  fuel-system         183 non-null    object
 18  bore                183 non-null    object
 19  stroke              183 non-null    object
 20  compression-ratio   183 non-null    float64
 21  horsepower          183 non-null    int64
 22  peak-rpm            183 non-null    object
 23  city-mpg            183 non-null    int64
 24  highway-mpg         183 non-null    int64
 25  price               183 non-null    float64
 26  nlimpute            110 non-null    object
 27  num_doors           183 non-null    int64
 28  num_cylinders       183 non-null    int64
 29  engine_size_cc      183 non-null    int64
 30  power2weight_ratio  183 non-null    float64
dtypes: float64(8), int64(9), object(14)
memory usage: 45.8+ KB

### Time to load some data
We need to define a name for the table that we are above to create in our database.

In [60]:
table_name = r'cars_cleaned'
schema = r'cleaned' # schema we created this week.

cars.to_sql(table_name, con=db_conn, if_exists='replace', index=False, schema=schema, chunksize=1000, method='multi')

183